* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

header {
    padding: 20px;
    background-color: #f63232;
    text-align: center;
    position: fixed;
    z-index: 1;
    width: 100%;
}

header h1 {
    color: white;
    display: inline-block;
    font-size: 40px;
    border-radius: 40px;
    padding: 6px 12px;
}

.banner img {
    width: 100%;
}

.banner2 {
    position: absolute;
    top: 50%;
    left: 0;
    background-color: #f63232;
    color: white;
    padding: 30px;
    width: 320px;
    height: 190px;

 }

 .banner2 h2 {
    font-size: 40px;
 }

 .nav-bar {
    display: flex;
    justify-content: space-around;
    background-color: #f4f4f4;
    height: 70px;
    position: sticky;
    top: 110px;
 }

 #sign-up {
    color: #f63232;
    font-size: 24px;
    text-decoration: none;
    margin-top: 20px;
 }

 .nav-text {
    color: #4b4b4b;
    font-size: 24px;
    text-decoration: none;
    margin-top: 20px;
 }

 .nav-text:hover {
    text-decoration: underline;
 }

 #sign-up:hover {
    text-decoration: underline;
 }

 .btn:hover {
    background-color: #4b4b4b;
    transition-duration: 0.8s;
 }
 
  #releases {
     color: #f63232;
     font-size: 48px;
     text-align: center;
  }

 article {
    margin-top: 70px;
 }

 article p{
    line-height: 25px;
    text-align: center;
    width: 60%;
    margin: 20px auto 0;
    color: #4b4b4b;
    font-size: 20px;
}


article span {
    line-height: 25px;
    text-align: center;
    width: 60%;
    margin: 20px auto 0;
    font-weight: bolder;
    color: black;
    font-size: 20px;
}

.games {
    margin: 200px 50px;
    display: flex;
    justify-content: space-around;
}

.games img {
    width: 250px;
    height: 320px;
}

.contact-us {
    display: block;
    text-align: center;
    background-color: #f4f4f4;
    padding: 55px 20px;
}

.contact-header {
    color: #4b4b4b;
    font-size: 36px;
    font-family: 'Poppins', sans-serif;
}

.contact-text {
    font-size: 17px;
    margin-bottom: 15px;
}

.error-message {
    display: none;
    font-size: 16px;
    color: #f63232;
}

.forms {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
}

.form-name {
    margin: 10px 0;
    padding: 10px 20px;
    font-size: 16px;
    border: 4px solid white;
    border-radius: 28px;
}

.form-mail {
    margin: 10px 0;
    padding: 10px 20px;
    font-size: 16px;
    border: 4px solid white;
    border-radius: 28px;
}

.btn {
    background-color: #f63232;
    border: none;
    border-radius: 50px;
    padding: 20px;
    width: 30%;
    margin: 0 auto;
    color: #f4f4f4;
    font-size: 20px;
    cursor: pointer;
}

.footer {
    background-color: #f63232;
    color: white;
    padding: 20px;
    text-align: center;
    /* margin-top: 50px */
}

.footer p {
    color: #f4f4f4;
}

@media screen and (max-width: 900px) {
    *{
        margin: 0px;
        padding: 0px;
    }
    body{
        width: 100%;
    }
    .header{
        position: static;
        height: 100px;
    }
    .banner2{
        display: none;
    }

    .banner2 h2 {
        font-size: 36px;
     }

    #sign-up .nav-text{
        display: block;
        font-size: large;
    }

    .banner2 h2{
        text-align: center;
        background-color: #f63232;
        color: white;
        padding: 10px;
        width: 100%;
    }

    .games {
        margin-top: 70px;
        margin-bottom: 120px;
        display: flex;
        justify-content: space-around;
    }
    
    .games img {
        width: 120px;
        height: 150px;
    }

    .nav-bar {
        display: flex;
        justify-content: space-around;
        background-color: #f4f4f4;
        height: 70px;
        position: sticky;
        top: 110px;
     }
}

@media screen and (max-width: 500px) {
    .games {
        margin-top: 70px;
        margin-bottom: 120px;
        padding: 100px;
        display: block;
    }

    #sign-up {
        font-size: 15px;
    }

    .nav-text {
        font-size: 15px;
    }
}